<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <h2 class="fw-bold text-uppercase text-center mt-3 mb-0">Books</h2>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-secondary m-3" (click)="getBooks()">Refresh</button>
                    <button class="btn btn-outline-secondary m-3" *ngIf="authService.isModerator()" routerLink="/books/add">Add book</button>
                </div>
                <table class="text-center">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th *ngIf="authService.isModerator() || authService.isReader()">Actions</th>
                    </tr>
                    <tr *ngFor="let b of books">
                        <td class="p-2" >{{b.title}}</td>
                        <td>{{b.author}}</td>
                        <td class="d-flex justify-content-center">
                            <button class="btn btn-outline-secondary m-2" (click)="addToShelf(b.id)" *ngIf="authService.isReader()">Add to shelf</button>
                            <button class="btn btn-outline-secondary m-2" (click)="delete(b.id)" *ngIf="authService.isModerator()">Delete</button>
                            <button class="btn btn-outline-secondary m-2" (click)="update(b.id)" *ngIf="authService.isModerator()">Update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
