<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <button class="btn btn-outline-secondary" (click)="getBooks()">Refresh</button>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th *ngIf="authService.isModerator()">Actions</th>
                    </tr>
                    <tr *ngFor="let b of books">
                        <td class="p-2" >{{b.title}}</td>
                        <td>{{b.author}}</td>
                        <td>
                            <button class="btn btn-outline-secondary m-2" (click)="delete(b.id)" *ngIf="authService.isModerator()">Delete</button>

<!--                            <button class="btn btn-outline-secondary" (click)="delete(b.id)">Modify</button>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
