@import "../variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
.background-gradient {
    /* fallback for old browsers */
    background: $light;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, $light, $primary);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, $light, $primary)
}
