<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <h2 class="fw-bold text-uppercase text-center mt-3 mb-0">My shelfs</h2>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-secondary m-3" (click)="getShelves()">Refresh</button>
                    <button class="btn btn-outline-secondary m-3" routerLink="/shelves/add">Add shelf</button>
                </div>
                <table class="text-center">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let s of shelves">
                        <td class="p-2" >{{s.name}}</td>
                        <td class="d-flex justify-content-center">
                            <button class="btn btn-outline-secondary m-2" (click)="delete(s.id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
